<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="Time" value="1000"/>
    <add key="URL" value="http://118.25.1.155:9527/ocr"/>
  </appSettings>
  <connectionStrings></connectionStrings>
</configuration>
